
body {
    background: rgba(0, 0, 0, 0.071);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button {
    background-color: rgb(212, 238, 255);
    height: 13rem;
    width: 20rem;
    border: 1px solid rgb(180, 202, 216);
    font-family: 'Georgia', Times New Roman, Times, serif;
    font-size: 1.2rem;
    margin: 1rem
}

.top {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left:0%;
    right:0%;

}

.github {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
}

.gmail {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
}


.left-side,
.right-side {
    color:white;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', Times New Roman, Times, serif;
    font-size: 1.2rem;
}

.pfp {
    display: block;
    margin: auto;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    padding: 5rem;
}

.intro1 {
    font-size: 1.2rem;
    text-align: center;
    margin: 3rem;
    position: relative;
    bottom:6rem;
}

.intro2 {
    font-size: 1.2rem;
    text-align: justify;
    margin: 3rem;
    position: relative;
    bottom:6rem;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 1.5rem
    
}

.divider {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 5rem;
}



.left, .right {
    text-align: center;
    padding: 2rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 24.3rem);
    place-items: center;
    padding: 1rem;
    overflow-x: auto;
    margin: 2rem;
}

.bottom {
        background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}